#### Q1.Print Numbers From 1 to 10

In [1]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

#### Q2.Print even numbers from 1 to 20

In [2]:
for num in range(1, 21):
    if num % 2 == 0:
        print(num)

2
4
6
8
10
12
14
16
18
20

#### Q3. Check if a number is positive, negative or zero.

In [13]:
# using if...elif...else

num=int(input("Enter a Number="))
if num>0:
    print(num,"is a Positive Number")
elif num==0:
    print("Zero")
else:
    print(num,"is a Negative Number")

-70 is a Negative Number

#### Q4. Add two numbers using operators.

In [5]:
num1=int(input("Enter 1st number="))
num2=int(input("Enter 2nd number="))
sum=num1+num2
print("Sum of two numbers",num1,"+",num2,"=",sum)

Sum of two numbers 34 + 12 = 46

#### Q5. Print multiplication table of a number.

In [11]:
num=int(input("Enter A Number="))
print("Multiplication Table of",num)
for i in range(1,11):
    print(num,"x",i,"=",num*i)

Multiplication Table of 11
11 x 1 = 11
11 x 2 = 22
11 x 3 = 33
11 x 4 = 44
11 x 5 = 55
11 x 6 = 66
11 x 7 = 77
11 x 8 = 88
11 x 9 = 99
11 x 10 = 110

#### Q6. Find the largest among two numbers.

In [9]:
num1=int(input("Enter Number 1="))
num2=int(input("Enter Number 2="))
if num1>num2:
    print(num1,"is largest number among",num1,"and",num2)
else:
    print(num2,"is largest number among",num2,"and",num1)

45 is largest number among 45 and 10

#### Q7. Use a while loop to print numbers 5 to 1.

In [14]:
number = 5
while number >= 1:
    print(number)
    number -= 1

5
4
3
2
1

#### Q8. Print all characters in a string.

In [24]:
s =input("Enter a string=")
print("Characters in the string are:")
for char in s:
    print(char)

Characters in the string are:
H
a
r
r
y

P
o
t
t
e
r

##### Q9. Use logical operator to check if a number is between 10 and 50.

In [2]:
num = int(input("Enter a number="))
if num >= 10 and num <= 50:
    print(num," is between 10 and 50")
else:
    print(num,"is not between 10 and 50")

67 is not between 10 and 50

#### Q10. Sum of first 10 natural numbers.

In [12]:
num = 10
sum = 0
for i in range(num+1):
    sum+=i
print("Sum of First 10 natural numbers=",sum)

Sum of First 10 natural numbers= 55

##### Q11.Print "Odd" or "Even" for numbers 1 to 10

In [13]:
for i in range(1, 11):
    if i % 2 == 0:
        print(i,"= Even")
    else:
        print(i,"= Odd")

1 = Odd
2 = Even
3 = Odd
4 = Even
5 = Odd
6 = Even
7 = Odd
8 = Even
9 = Odd
10 = Even

#### Q12. Use “break” to stop loop when number is 5.

In [14]:
for n in range(1, 11):
    if n == 5:
        break  # Exit the loop when number is 5
    print(n)

1
2
3
4

##### Q13. Print 1 to 10 and use continue to skip printing 5.

In [15]:
for i in range(1, 11):
    if i == 5:
        continue
    print(i)

1
2
3
4
6
7
8
9
10

#### Q14. Print all elements in a list using a loop.

In [18]:
my_list = [100,'Sikkim',4.30,'Apple','Johnny']
for i in my_list:
    print(i)

100
Sikkim
4.3
Apple
Johnny

#### Q15. Check if a number is divisible by both 3 and 5.

In [19]:
num = int(input("Enter a number: "))

if num % 3 == 0 and num % 5 == 0:
    print(num, "is Divisible by both 3 and 5")
else:
    print(num, "is NOT divisible by both 3 and 5")

45 is Divisible by both 3 and 5

#### Q16. Square of all numbers from 1 to 5.

In [20]:
for i in range(1, 6):
    print("square of",i,"is",i**2)

square of 1 is 1
square of 2 is 4
square of 3 is 9
square of 4 is 16
square of 5 is 25

#### Q17. Print ASCII values of characters in a string.

In [23]:
string=input("Enter a string=")
for ch in string:
    print(f"{ch} has ASCII value {ord(ch)}")

T has ASCII value 84
h has ASCII value 104
a has ASCII value 97
n has ASCII value 110
o has ASCII value 111
s has ASCII value 115

#### 18. Count down from 10 to 1 using while.

In [25]:
count = 10
while count > 0:
    print(count)
    count -= 1

10
9
8
7
6
5
4
3
2
1

#### 19. Check if a number is divisible by 2 or 3.

In [28]:
num = int(input("Enter a number: "))

if num % 2 == 0 or num % 3 == 0:
    print(num,"is divisible by 2 or 3.")
else:
    print(num,"is not divisible by 2 or 3.")

5 is not divisible by 2 or 3.

#### 20. Print sum of digits of a number.

In [4]:

n = int(input("Enter a number: "))
print("Number:", n)

sum = 0
while n > 0:
    sum += n % 10
    n = n // 10
print("Sum of digits:", sum)

Number: 1234
Sum of digits: 10

#### 21. Swap two numbers using a temporary variable.

In [5]:
a =int(input("Enter a number: "))
b =int(input("Enter a number: "))   

print("Before swapping:")
print("a =", a)
print("b =", b)

# Swapping using a temporary variable
temp = a
a = b
b = temp

print("After swapping:")
print("a =", a)
print("b =", b)

Before swapping:
a = 2
b = 4
After swapping:
a = 4
b = 2

##### 22. Print numbers from 1 to 100 that are divisible by 7.

In [6]:
for i in range(1, 101):
    if i % 7 == 0:
        print(i)

7
14
21
28
35
42
49
56
63
70
77
84
91
98

#### 23.Find the factorial of a number.

In [7]:
# Using For loop

n=int(input("Enter a number="))
print("Factorial of",n,"is:")
fact = 1
for i in range(1, n + 1):
    fact *= i
print(fact)

Factorial of 5 is:
120

#### 24. Count vowels in a string.

In [ ]:
string = input("Enter a string: ")
print("String:", string)
count = 0
vowels = "aeiouAEIOU"

for ch in string:
    if ch in vowels:
        count += 1

print("Number of vowels:", count)

String: summer is here
Number of vowels: 5

#### 25. Reverse a number using loop.

In [12]:
num = int(input("Enter a number: "))
print("Original number:", num)
rev = 0

while num > 0:
    digit = num % 10
    rev = rev * 10 + digit
    num = num // 10

print("Reversed number:", rev)

Original number: 3456
Reversed number: 6543

#### 26. Find the maximum in a list using loop.

In [ ]:
number_list = [41, 105, 700, 202, 111]

maximum = number_list[0]  # let assume the first element is the max

for num in number_list:
    if num > maximum:
        maximum = num

print("Maximum number is:", maximum)

Maximum number is: 700

#### 27. Prime number check using loop.

In [16]:
num = int(input("Enter a number: "))

if num > 1:
    for i in range(2, num):
        if num % i == 0:
            print(num, "is not a prime number")
            break
    else:
        print(num, "is a prime number")
else:
    print(num, "is not a prime number")

10 is not a prime number

#### 28. Sum of even numbers in a list.

In [23]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10,11,12,13,14,15]
print("Original list:", numbers)
s = 0
for num in numbers:
    if num % 2 == 0:
        s += num
print("Sum of even numbers:", s)

Original list: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]
Sum of even numbers: 56

#### 29. Print number pattern using nested loops.

In [26]:
n=int(input("Enter a number="))

for i in range(1, n + 1):
    for j in range(i):
        print(i, end='')
    print()

1
22
333
4444

#### 30. Count frequency of digits in a number.

In [33]:
num = str(input("Enter a number: "))
print("Number:",num)
for digit in num:
    count = num.count(digit)
    if count > 0:
        print("Digit", digit, "occurs", count, "times in the number", num)

Number: 1223334
Digit 1 occurs 1 times in the number 1223334
Digit 2 occurs 2 times in the number 1223334
Digit 2 occurs 2 times in the number 1223334
Digit 3 occurs 3 times in the number 1223334
Digit 3 occurs 3 times in the number 1223334
Digit 3 occurs 3 times in the number 1223334
Digit 4 occurs 1 times in the number 1223334

#### 31. GCD of two numbers using loop.

In [35]:
num1 = int(input("Enter first number: "))
num2 = int(input("Enter second number: "))

if num1 == 0:
    gcd = num2
elif num2 == 0:
    gcd = num1
else:
    gcd = 1
    for i in range(1, min(num1, num2)):
        if num1 % i == 0 and num2 % i == 0:
            gcd = i

print("GCD of", num1, "and", num2, "is", gcd)

GCD of 45 and 80 is 5

#### 32. Check if a number is a palindrome.

In [37]:
num = int(input("Enter a number: "))
print("Original number:", num)
original_num = num
rev_num = 0

while num > 0:
    digit = num % 10
    rev_num = rev_num * 10 + digit
    num = num // 10

if original_num == rev_num:
    print("The number is a palindrome.")
else:
    print("The number is not a palindrome.")

Original number: 121
The number is a palindrome.

#### 33. Count words in a sentence.

In [ ]:
s = "Octopuses have three hearts."
count = len(s.split())
print(count)

4

#### 34. Find common elements in two lists.

In [42]:
a = [22, 43, 33,64,50]
b = [43, 50, 64, 7, 43]

# using set intersection
common = list(set(a) & set(b))

print(common)

[64, 50, 43]

#### 35. Use elif to grade students based on score.

In [ ]:
score = int(input("Enter the student's score: "))
print("Score:", score)
if score >= 90:
    print("Grade: A")
elif score >= 80:
    print("Grade: B")
elif score >= 70:
    print("Grade: C")
elif score >= 60:
    print("Grade: D")
else:
    print("Grade: F")

Score: 67
Grade: D

#### 36. Print a right-angled triangle using *.

In [47]:
rows=int(input("Enter the number of rows: "))  

for i in range(1, rows + 1):
    print(" * " *  i)

 *
 *  *
 *  *  *
 *  *  *  *
 *  *  *  *  *
 *  *  *  *  *  *
 *  *  *  *  *  *  *

#### 37. Check if a year is a leap year.

In [53]:
year = int(input("Enter a year: "))
print("Year:", year)
if (year % 4 == 0 and year % 100 != 0) or (year % 400 == 0):
    print(year, "is a leap year.")
else:
    print(year, "is not a leap year.")

Year: 2004
2004 is a leap year.

#### 38. Print Fibonacci series using loop.

In [54]:
a = 0
b = 1
n = 10  # number of terms 

print("Fibonacci Series:")
print(a, b, end=" ")

for i in range(n - 2):
    c = a + b
    print(c, end=" ")
    a = b
    b = c

Fibonacci Series:
0 1 1 2 3 5 8 13 21 34

##### 39. Count uppercase and lowercase letters in a string.

In [55]:
String = "Hello World"

uppercase = 0
lowercase = 0

for ch in String:
    if 'A' <= ch <= 'Z':
        uppercase = uppercase + 1
    if 'a' <= ch <= 'z':
        lowercase = lowercase + 1

print("Uppercase letters:", uppercase)
print("Lowercase letters:", lowercase)

Uppercase letters: 2
Lowercase letters: 8

#### 40. Print numbers from 100 to 1 using loop.

In [58]:
for i in range(100, 0, -1):
    print(i)

100
99
98
97
96
95
94
93
92
91
90
89
88
87
86
85
84
83
82
81
80
79
78
77
76
75
74
73
72
71
70
69
68
67
66
65
64
63
62
61
60
59
58
57
56
55
54
53
52
51
50
49
48
47
46
45
44
43
42
41
40
39
38
37
36
35
34
33
32
31
30
29
28
27
26
25
24
23
22
21
20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1