Day 05 (Dt-20/05/25)

### OPERATORS

#### membership operator

In [1]:
x=500
for x in range (0,5):
    print(x)

0
1
2
3
4

#### Arithmetic Operator

In [3]:
# Adding two integers

income = 1000
incentives=3000
total_income=income+incentives
print(total_income)

4000

In [4]:
# Adding one float & one integer values

income=10000
incentives=5.0
total=income+incentives
print(total)

10005.0

#### Relational Operators

In [ ]:
# Declare Two Variables 

ketty_age=28
kitty_age=25
ketty_age==kitty_age

False

In [9]:
ketty_age<=kitty_age

False

In [10]:
ketty_age >= kitty_age

True

#### LOGICAL Operator

In [12]:
a=True
b=False

print(a and b)

False

In [13]:
print(a or b)
print(b or b)
print(b and b)
print(not a)
print(not b)

True
False
False
False
True

#### Bitwise Operator

In [14]:
# & operator

num = 10
(num % 2 == 0) & (num % 3 == 0)

False

In [15]:
# | or operator
num= 10
(num % 2==0)|(num % 3==0)

True

#### IF Statement

In [16]:
# check if a no. is greater than zero
num= 8
if(num>0):
    print(num,"is greater than zero")
print("This is always printed")

8 is greater than zero
This is always printed

In [17]:
# check if a no. is greater than zero

num =-1
if(num>0):
    print(num,"is greater than zero")
print("This is always printed")

This is always printed

In [18]:
# check if a no. is greater than zero

num =-1
if(num>0):
    print(num,"is greater than zero")
else:
        print(num,"is less than zero")
print("This is always printed")

-1 is less than zero
This is always printed

In [19]:
# check if a no. is greater than zero
num= 8
if(num>0):
    print(num,"is greater than zero")
else:
        print(num,"is less than zero")

print("This is always printed")

8 is greater than zero
This is always printed

In [20]:
# display bus fares as per age entered by user

age = int(input("Enter Age;"))
if(0,age<3):
    print("Free")
elif(3<age<10):
    print("Bus fare is 20")
elif(10<age<20):
    print("Bus fare is 25")
else:
    print("Bus fare is 30")

Free

In [26]:
#Greatest Number among 3 numbers

num1 = int(input("Enter first number:"))
num2 = int(input("Enter second number:"))
num3 = int(input("Enter third number:"))
if(num1>num2) and (num1>num3):
    print(num1,"is the greatest number")
elif(num2>num1) and (num2>num3):
    print(num2,"is the greatest number")
else:
    print(num3,"is the greatest number")

67 is the greatest number

In [27]:
no1=100
no2=30
no3=500
if (no1 > no2):
    print(no1,"is greater")
else:
    if(no3>no2):
        print(no3,"is greater")
    else:
        print(no2,"is greater")

100 is greater

In [28]:
# Find Summation of all nutural numbers till 10

num=10

# initialize addition and counter
addition=0
i=1
while(i<=num):
    addition=addition+i
    i=i+1
# print sum
print("Addition is :",addition)

Addition is : 55

In [29]:
# Find Summation of all nutural numbers till 10FOR LOOP
num=range(1,11)
addition=0
for i in num: #i takes one value at a time from 1 till 10 after every single iteration
    addition= addition+i #previouc value of addition is added to the new value taken by i from the iterable
print("Addition is :",addition)

Addition is : 55